<a href="https://colab.research.google.com/github/renste/CSC302/blob/main/CSC302_HW1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
file_path = '/content/drive/MyDrive/DATA/olympic_medals.csv'
medals = pd.read_csv(file_path)

In [4]:
#a
rows, columns = medals.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 2394
Number of columns: 8

In [5]:
#b
data_types = medals.dtypes
print("Data types:\n", data_types)

Data types:
 Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [6]:
#c
unique_cities = len(medals['Location'].unique())
print(f"Unique cities: {unique_cities}")

Unique cities: 23

In [7]:
#d
usa_medals = medals[medals['Nationality'] == 'USA'].shape[0]
print(f"Total medals won by USA: {usa_medals}")

Total medals won by USA: 638

In [8]:
#e
total_medals_by_nationality = medals.groupby(by='Nationality')['Medal'].count()
print("Total medals by nationality:\n", total_medals_by_nationality)

Total medals by nationality:
 Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64